<div class="app">
  <div class="container">
    <h4 class="font-weight-bold pb-2">Choose the character</h4>
    <div class="row">
      <div class="col-md-5 pb-4">
        <app-character-list
          [characters]="characters"
          (activeCharacter)="requestMovies($event)"
        ></app-character-list>
      </div>
      <div class="col-md-7">
        <app-movies-list [movies]="films"></app-movies-list>
      </div>
    </div>
  </div>
  <app-error-message></app-error-message>
</div>
<app-spinner
  *ngIf="isActiveSpinner"
></app-spinner>
